[submodule "0-Altium/scripts-libraries"]
	path = 0-Altium/scripts-libraries
	url = https://github.com/altium-designer-addons/scripts-libraries
[submodule "0-Altium/AltiumDesigner_PcbLibrary"]
	path = 0-Altium/AltiumDesigner_PcbLibrary
	url = https://github.com/KitSprout/AltiumDesigner_PcbLibrary
[submodule "0-Altium/Altium_mfmisclib"]
	path = 0-Altium/Altium_mfmisclib
	url = https://github.com/mikef5410/Altium_mfmisclib.git
[submodule "0-Altium/Altium-Library"]
	path = 0-Altium/Altium-Library
	url = https://github.com/issus/altium-library.git
